@tailwind base;
@tailwind components;
@tailwind utilities;


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    width: auto;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    margin: 0 5px;
    padding: 5px 10px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.pagination button:hover,
.pagination button.active {
    background-color: #2f4050;
    color: #fff;
    border-radius: 20%;
}